<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Welcome to the index page severd by Netwide Assembly</h1>
    <h3>how cool is that?</h3>
    <div style="height: 200vh;"></div>
    <div id="anchor">found me</div>
  </body>
  <script defer src="index.js"></script
</html>
